apiVersion: apps/v1
kind: Deployment
metadata:
  name: transaction-deployment
  namespace: isc
  labels:
    app: transaction-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transaction-service
  template:
    metadata:
      labels:
        app: transaction-service
    spec:
      containers:
        - name: transaction
          image: intersvc-transaction:dev
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000

---
apiVersion: v1
kind: Service
metadata:
  name: transaction-service
  namespace: isc
spec:
  selector:
    app: transaction-service
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: ClusterIP
